@model OneListApplication.ViewModels.ListVM

@{
    ViewBag.Title = "CreateList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/List/_ListSideBar.cshtml")

<h2>Create List</h2>
<p class="text-danger">
    @Html.Raw(ViewBag.ErrorMsg)
</p>
<p class="text-info">
    @Html.Raw(ViewBag.ActionMsg)
</p>
<div class="col-md-10">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ListName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ListName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ListName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ListType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-xs-10">
                    <select class="form-control" name="ListType">
                        @foreach (var item in Model.ListType)
                {
                            <option value="@item.ListTypeID">@item.TypeName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ItemCategory, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-xs-10">
                    <select class="form-control" name="ItemCategory">
                        @foreach (var item in Model.ItemCategory)
                {
                            <option value="@item.ItemCategoryID">@item.ItemCategoryName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SuscriberGroup, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-xs-10">
                    <select multiple class="form-control" id="Groups" name="SuscriberGroup">
                        @foreach (var item in Model.SuscriberGroup)
                {
                            <option value="@item.SuscriberGroupID">@item.SuscriberGroupName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
