@model OneListApplication.ViewModels.ListViewVM

@{
    ViewBag.Title = "EditList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/List/_ListSideBar.cshtml")
<div class="col-md-10">
    <h2>Edit List</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
         
                    <div class="col-md-6">
                    @Html.LabelFor(model => model.ListName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.ListName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ListName, "", new { @class = "text-danger" })
                    </div>
         
                   <div class="col-md-6">
                    @Html.LabelFor(model => model.ListType, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.ListType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ListType, "", new { @class = "text-danger" })
                    </div>
               
               
                    <div class="col-md-6">
                    @Html.LabelFor(model => model.suscriberRole, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.suscriberRole, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.suscriberRole, "", new { @class = "text-danger" })
                    </div>
               
                    <div class="col-md-6">
                    @Html.LabelFor(model => model.CreationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.CreationDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreationDate, "", new { @class = "text-danger" })
                    </div>
           
            <div class="form-group row">
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th></th>
                            <th>List Item</th>
                            <th>Price</th>
                            <th>Notes</th>
                            <th>Solved By?</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.items)
                        {
                            <tr>
                                <td><input type="checkbox" value="@item.ListItemSolved"></td>
                                <td>@item.listItemName</td>
                                <td><input value="@item.ListItemCost" /></td>
                                <td><input value="@item.ListItemNotes" /></td>
                                <td><input value="@item.ListItemSolverName" /></td>
                                <td>
                                    <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                    
                                </td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
  </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
