
@{
    ViewBag.Title = "ShowCompleteList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Home/Sidebar.cshtml");
<div class="col-sm-offset-2">
    <h2>Completed Lists</h2>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">@Html.ActionLink("Open Lists", "ListManagement", "Home", new { @class = "nav-link active" }, null)</li>
        <li class="nav-item">@Html.ActionLink("Create List", "CreateList", "List", new { @class = "nav-link" }, null)</li>
        <li class="nav-item">@Html.ActionLink("Completed Lists", "ShowCompleteList", "List", new { @class = "nav-link" }, null)</li>
        <li class="nav-item">@Html.ActionLink("Subscribed Lists", "ShowSubscribedList", "List", new { @class = "nav-link" }, null)</li>
    </ul>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Completed Lists</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>St.Patrick's Day Party Supply</td>
            </tr>
            <tr>
                <td>BCIT SSD Program Registration</td>
            </tr>
            <tr>
                <td>Set up personal website</td>
            </tr>
        </tbody>
    </table>
    @Html.ActionLink("Back to Lists", "ListManagement", "Home", new { @class = "btn btn-primary" }, null)
</div>