
@{
    ViewBag.Title = "ShowSubscribedList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Home/Sidebar.cshtml");
<div class="col-sm-offset-2">
    <h2>Subscribed Lists</h2>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">@Html.ActionLink("Open Lists", "ListManagement", "Home", new { @class = "nav-link active" }, null)</li>
        <li class="nav-item">@Html.ActionLink("Create List", "CreateList", "List", new { @class = "nav-link" }, null)</li>
        <li class="nav-item">@Html.ActionLink("Completed Lists", "ShowCompleteList", "List", new { @class = "nav-link" }, null)</li>
        <li class="nav-item">@Html.ActionLink("Subscribed Lists", "ShowSubscribedList", "List", new { @class = "nav-link" }, null)</li>
    </ul>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Open Lists</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Winter Sports Supply</td>
                <td>
                    <a class="btn btn-warning"><em class="fa fa-eye"></em></a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Cake Ingredients</td>
                <td>
                    <a class="btn btn-warning"><em class="fa fa-eye"></em></a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Paul's X-mas Shopping List</td>
                <td>
                    <a class="btn btn-warning"><em class="fa fa-eye"></em></a>
                    <a class="btn btn-warning">Unsubscribe</a>
                </td>
            </tr>
        </tbody>
    </table>
    @Html.ActionLink("Back to Lists", "ListManagement", "Home", new { @class = "btn btn-primary" }, null)
</div>