
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @using (Html.BeginForm("ChangePassword", "Profile", new { ReturnUrl = ViewBag.ReturnUrl },
                                                    FormMethod.Post, new { @class = "col-lg-4 col-lg-offset-4" }))
    { 
        <h2>Change Password</h2>
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                <label>Current Password</label>
                <div>
                    <input type="password" name="currentPassword"/><br>
                </div>
            </div>
            <div class="form-group">
                <label>New Password</label>
                <div>
                    <input type="password" name="password"/><br>
                </div>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <div>
                    <input type="password" name="passwordConfirm"/><br />  
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
                <input type="hidden" name="passwordToken" value="@ViewBag.PasswordToken" />
                <input type="hidden" name="userID" value="@ViewBag.UserID" /><br />
                <p class="text-success">
                    @Html.Raw(ViewBag.Result)
                </p>
            </div> 
            <div class="form-group">
                @Html.ActionLink("Back to Profile", "Index")
            </div>              
        </div>
    }