@model OneListApplication.ViewModels.ItemVM

@{
    ViewBag.Title = "ItemDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Item/_ItemPageTopNav.cshtml")
<div class="col-md-8 col-sm-12">
    <h2>Item Detail</h2>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ItemName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ItemCategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemCategoryName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "EditItem", new { id = Model.ItemID })
    </p>
    <p>@ViewBag.ErrorMsg</p>
</div>