@model IEnumerable<OneListApplication.ViewModels.ItemVM>

@{
    ViewBag.Title = "ItemManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">
    <h2>All Items</h2>
    @Html.Partial("~/Views/Item/_ItemPageTopNav.cshtml")

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCategoryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemCategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditItem", new { id = item.ItemID }, new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Details", "ItemDetail", new { id = item.ItemID }, new {@class = "btn btn-primary" }) 
                    @Html.ActionLink("Delete", "DeleteItem", new { id = item.ItemID}, new {@class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
    <p>@ViewBag.ErrorMsg</p>
    </div>