@model OneListApplication.Models.DeleteUserVM

@{
    ViewBag.Title = "AddUserToRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("DeleteUser", "Home", new { ReturnUrl = ViewBag.ReturnUrl },
                                    FormMethod.Post, new { @class = "col-lg-4 col-lg-offset-4" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal text-center form-signin">
        <h3>Delete User</h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder="User Email" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <button class="btn btn-bk btn-full-size" type="submit">Delete</button><br />
            @{
                if (ViewBag.Fail != null)
                {
                    <div class="text-danger col-md-offset-2 col-md-10">
                        @Html.Raw(ViewBag.Fail)
                    </div>
                }
                else
                {
                    <div class="text-success col-md-offset-2 col-md-10">
                        @Html.Raw(ViewBag.Success)
                    </div>
                }
            }
        </div>
    </div>
}
