@model IEnumerable<OneListApplication.ViewModels.ListViewVM>

@{
    ViewBag.Title = "ListManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/List/_ListSideBar.cshtml")
<div class="col-md-8">
    <h2>List Management</h2>
    <p class="text-danger">
        @Html.Raw(ViewBag.ErrorMsg)
    </p>
    <p class="text-info">
        @Html.Raw(ViewBag.ActionMsg)
    </p>
    <table class="table table-collapse">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuscriberGroup)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ListName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListType)
                </td>
                <td>
                    <ul id="suscribers">
                        @foreach (var groups in item.SuscriberGroup)
                        {
                            <li>@groups.SuscriberGroupName</li>
                        }
                    </ul>
                </td>

                <td>
                    @Html.ActionLink("Edit List", "EditList", "List", new { id = item.ListID }, new { @class = "btn btn-primary" })
                    <a class="btn btn-danger" href="@Url.Action("DeleteList","List",  new { id = item.ListID})"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        }

    </table>
</div>