
@{
    ViewBag.Title = "ListManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Home/Sidebar.cshtml");
<div class="col-sm-offset-2">
    <h2>List Management</h2>

    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">@Html.ActionLink("Open Lists", "ListManagement", "Home", new { @class = "nav-link active" }, null)</li>
        <li class="nav-item">@Html.ActionLink("Create List", "CreateList", "List", new { @class = "nav-link" }, null)</li>
        <li class="nav-item">@Html.ActionLink("Completed Lists", "ShowCompleteList", "List", new { @class = "nav-link" }, null)</li>
        <li class="nav-item">@Html.ActionLink("Subscribed Lists", "ShowSubscribedList", "List", new { @class = "nav-link" }, null)</li>
    </ul>

    <table class="table table-inverse">
        <thead>
            <tr>
                <th>List ID</th>
                <th>List Name</th>
                <th>Date</th>
                <th>List Type</th>
                <th>Subscribers</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>My Grocery</td>
                <td>June 24, 2016</td>
                <td>Grocery</td>
                <td>Greg, Alan ...</td>
                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                <td><a class="btn btn-primary" href="#" role="button">Edit</a></td>
                <td>@Html.ActionLink("Details", "ShowListDetails", "List", null, new { @class = "btn btn-primary" })</td>
            </tr>
            <tr>
                <td>2</td>
                <td>House Repair</td>
                <td>Sep 24, 2016</td>
                <td>To Do</td>
                <td>Alice, Alan ...</td>
                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                <td><a class="btn btn-primary" href="#" role="button">Edit</a></td>
                <td>@Html.ActionLink("Details", "ShowListDetails", "List", null, new { @class = "btn btn-primary" })</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Science Project</td>
                <td>Dec 24, 2016</td>
                <td>Task</td>
                <td>Greg, Alan ...</td>
                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>
                <td><a class="btn btn-primary" href="#" role="button">Edit</a></td>
                <td>@Html.ActionLink("Details", "ShowListDetails", "List", null, new { @class = "btn btn-primary" })</td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
