<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            @Html.ActionLink(" Home", "Home", "Home", null, new { @class = "glyphicon glyphicon-home" })
        </li>
        <li>
            @Html.ActionLink(" List", "ListManagement", "Home", null, new { @class = "glyphicon glyphicon-list" })
        </li>
        <li>
            @Html.ActionLink(" Items", "ItemManagement", "Item", null, new { @class = "glyphicon glyphicon-th" })
        </li>
        <li>
            @Html.ActionLink(" Subscriber", "SubscriberManagement", "Home", null, new {@class= "glyphicon glyphicon-user" })
        </li>
        <li>
            @Html.ActionLink(" Profile", "Index", "Profile", null, new {@class= "glyphicon glyphicon-cog" })
        </li>
    </ul>
</div>

