@model OneListApplication.ViewModels.SubscriberGroupVM


    <table class="table">
        <tr>
            <th>User ID</th>
            <th>User Type ID</th>
            <th>User Statuss</th>
            <th></th>
        </tr>
        @foreach (var item in Model.allSubscribedUsers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubscriberGroupUserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserTypeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListUserStatus)
                </td>
                <td>
                    @Html.ActionLink("Convert", "ConvertUserType", new { userId = item.SubscriberGroupUserID, id = Model.SubscriberGroupID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Disable", "DisableSubscribedUser", new { userId = item.SubscriberGroupUserID, id = Model.SubscriberGroupID }, new { @class = "btn btn-primary" })

                    <a class="btn btn-danger" href="@Url.Action("DeleteSubscriber", "Subscriber", new { userId = item.SubscriberGroupUserID, id = Model.SubscriberGroupID })"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </table>

