@model OneListApplication.ViewModels.SubscriberGroupVM

    <table class="table table-collapse">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Type</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model.allSubscribedUsers)
        {
            <tbody>
                <tr>
                    <td data-title="Name">@Html.DisplayFor(modelItem => item.FullName)</td>
                    <td data-title="Email">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td data-title="Type">
                        @if (item.UserTypeID == 2)
                        {
                            @Html.Raw("Collaborator")
                        }
                        else
                        {
                            @Html.Raw("Subscriber")

                        }
                    </td>
                    <td data-title="Status">
                        @Html.DisplayFor(modelItem => item.ListUserStatus)
                    </td>
                    <td>
                        @Html.ActionLink("Change Type", "ChangeSubscriberType", "Subscriber", new { userId = item.UserID, id = Model.SubscriberGroupID, type = item.ListUserStatus }, new { @class = "btn btn-bk" })
                        @Html.ActionLink("Change Status", "ChangeSubscriberStatus", "Subscriber", new { userId = item.UserID, id = Model.SubscriberGroupID }, new { @class = "btn btn-bk" })

                        <a class="btn btn-danger" href="@Url.Action("DeleteSubscriber", "Subscriber", new { userId = item.UserID, id = Model.SubscriberGroupID })"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
        }
    </table>

