@model OneListApplication.ViewModels.SubscriberGroupVM

@{
    ViewBag.Title = "EditSubscriberGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Subscriber/_SubscriberSideBar.cshtml")
<div class="col-md-10">
    <h2>Edit Subscriber Group</h2>
    <p>@Html.Raw(ViewBag.ErrorMsg)</p>


    <!-- Form for New Group Title-->
    @using (Html.BeginForm("EditSubscriberGroup", "Subscriber", FormMethod.Post,
        new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.SubscriberGroupID)
            <div class="form-group">
                @Html.LabelFor(model => model.SubscriberGroupName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SubscriberGroupName, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.SubscriberGroupName, "", new { @class = "text-danger" })
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <!-- Form for Add User to group-->
    @using (Html.BeginForm("AddSubscriberToGroup", "Subscriber", FormMethod.Post,
                new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.SubscriberGroupID)
            <div class="form-group">
                <label class="control-label col-md-2">Add Users to Group</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.subscribedUser.UserID, Model.UserList, htmlAttributes: new { @class = "" })
                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <!-- Display subscribed users if any-->
@if (Model.allSubscribedUsers.Count() > 0)
{
    @Html.Partial("~/Views/Subscriber/_SubscriberTable.cshtml", Model)
}
    <div>
        @Html.ActionLink("Back to List", "SubscriberGroupManagement")
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>