<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="@Url.Action("Home", "Home")" class="btn btn-primary"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
        </li>
        <li>
            <a href="@Url.Action("ListManagement", "Home")" class="btn btn-primary"><i class="fa fa-list-ul" aria-hidden="true"></i>List</a>
        </li>
        <li>
            <a href="@Url.Action("ItemManagement", "Item")" class="btn btn-primary"><i class="fa fa-th" aria-hidden="true"></i>Items</a>
        </li>
        <li>
            <a href="@Url.Action("SubscriberManagement", "Home")" class="btn btn-primary"><i class="fa fa-users" aria-hidden="true"></i>Subscriber</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Profile")" class="btn btn-primary"><i class="fa fa-address-card-o" aria-hidden="true"></i>Profile</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Admin")" class="btn btn-primary"><i class="fa fa-address-card-o" aria-hidden="true"></i>Administration Options</a>
        </li>

    </ul>
</div>



