
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Admin/_SidebarAdmin.cshtml");



<div class="col-sm-offset-2">
    <h2>Administration Page</h2>
    <h3 for="selectItemGroup" style="float:left; width:40%; text-align:left">Create New User</h3>
    <h3 for="selectItemGroup" style="float:right; width:40%; text-align:center">Edit Users</h3>
    <table class="table table-inverse" style="clear:both; float:left ; width:20%">
        <thead>
            <tr>
                <th>Information</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>FirstName</b></td>
                <td><input type="text" value="" /></td>
            </tr>
            <tr>
                <td><b>LastName</b></td>
                <td><input type="text" value="" /></td>
            </tr>
            <tr>
                <td><b>BirthDate</b></td>
                <td><input type="text" value="" /></td>
            </tr>
            <tr>
                <td><b>email</b></td>
                <td><input type="text" value="" /></td>
            </tr>
            <tr>
                <td></td>
                <td><button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Admin")';return false;">Create User</button></td>
            </tr>
        </tbody>
    </table>
     <table class="table table-inverse" style="float:right ; width:40%">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>BirthDate</th>
                <th>Email</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Greg</td>
                <td>Willow</td>
                <td>09/12/1989</td>
                <td>greggyw@hotmail.com</td>
                <td>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Admin")';return false;">Edit</button>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Admin")';return false;">Reset Password</button>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Admin")';return false;">Disable User</button>
                </td>
            </tr>
            <tr>
                <td>Alice</td>
                <td>Smith</td>
                <td>12/25/1981</td>
                <td>alizzeemith@telus.ca</td>
                <td>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Admin")';return false;">Edit</button>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Admin")';return false;">Reset Password</button>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Admin")';return false;">Disable User</button>
                </td>
            </tr>
            <tr>
                <td>Alan</td>
                <td>Wung</td>
                <td>05/26/1978</td>
                <td>a.wung@yahoo.ca</td>
                <td>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Admin")';return false;">Edit</button>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Admin")';return false;">Reset Password</button>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Admin")';return false;">Disable User</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>